@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
h1, h2,h3,h4,h5,h6,p{
    margin: 0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: inherit;

}
input{
    border: none !important;
    background-color: none;
    border-radius: 8px;
    outline: none;
}
input:focus{
    border: none !important;
    outline: none;
    background-color: none;
}
:root{
    --grey:#E0E0E0;
    --dark-grey:#616161;
    --blue:#175F8A;


}
body{
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey);
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* position: fixed;
    top: 0; */
    z-index: 99;
    background-color: var(--blue);
}
nav{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.text-white{
    color: white;
}
.text-black{
    color: var(--dark-grey);
}
.brand{
    width: 30%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* border: 1px solid; */

}
.search_bar{
    width:50%;
    /* border: 1px solid; */
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
    background-color: white;
    color: var(--dark-grey);

}
.search_bar input{
    width: 80%;
    height: 100%;
    padding: 10px;

}
.search_bar .btn{
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    background-color: white;
    font-size: .8em;
    border-radius: 8px;
}
.links{
    width: 30%;
    /* border: 1px solid; */
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: .8em;
    
}
.wrapper{
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: white; */

}
.container{
    width: 90%;
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.hero-section{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 1px 3px var(--dark-grey); */

}
.mt-3{
    margin-top: 20px;
}
.carousel {
    width: 100%;
    height: 100%;
}
.carousel-inner{
    height: 100% !important;

}
.carousel-inner img{
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}
.carousel-item{
    height: 100%;
}

.product-container{
    position: relative;
}
.products {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
   
    /* white-space: nowrap; */
    /* border: 1px solid; */
    padding: 10px;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  gap: 10px;

  }
  .products::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .product-card {
    width: 180px !important;
    height: 170px;

    /* margin-right: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
  }
  .product-card-header{
    width: 100%;
    height: 50%;
    padding: 10px;
  }

  .product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;

  }

  .product-details {
    /* border: 1px solid; */

    width: 100%;
    height: 50%;
    padding: 10px;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    
  }

  .product-title {
    font-size: .6em;
    font-weight: bold;
   
  }

  .product-price {
    font-size: .8em;
    color: green;
   
  }

  .product-ratings {
    display: flex;
    align-items: center;
  }

  .star {
    color: gold;
    margin-right: 5px;
  }

  /* Navigation buttons styles */
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color:var(--dark-grey);
    opacity: .3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    z-index: 1;
    border-radius: 50%;
  }

  .nav-button-left {
    left: 0px;
  }

  .nav-button-right {
    right: 0px;
  }
  
  .container h4{
    width: 100%;
    font-size: 1em;
    text-align: left;
  }
  .deals{
    width: 100%;
    display: flex;
    gap: 10px;
    background-image: url('../assets/Rectangle7.png');

  }
  .deals-container{
    width: 90%;
    display: flex;
    gap: 10px;
    align-items: center;

  }
  .deals-header{
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
  }
  .deals-header h5{
    font-size: .8em;
  }
  .deals-header p{
    font-size: .8em;
  }
  .deals-body{
    width: 70%;

  }
  #timer {
    font-size: 24px;
    font-weight: bold;
  }
  .contacts{
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
  }
  .socials{
    display: flex;
    gap: 20px;
  }
  .footer-nav{
    font-size: .7em;
    display: flex;
    gap: 20px;
    font-weight: 500;
  }
@media screen and (min-width:996px) {
    .search_bar{
        width: 40%;
    }
    .hero-section{
        height: 550px;
    }
    .owl-stage{
        height: 100%;
        width: 100% !important;
        display: flex;
    }
    .owl-item{
        width: 100% !important;
    }
}